
.tostada{
    visibility: hidden;
    padding: 10px;
    position:absolute;
    
    top:50px;
    right:-100px;
    color: green;
    background-color:pink;  
    border: 1px solid red;
    
    border-radius: 10px;
    animation: tostadaMove 4s ease-in-out;

}
@keyframes tostadaMove {
    0%{ 
       
        visibility: visible;
     
        right:-100px;
        top:50px;
    }
    /* 10%{
        left:20px;
    } */
    20%{
      
        right:50px;
        top:50px
    }

    70%{
        right: 5px;
    }

    100%{
        right:-350px;
        top:50px;
        display:none;
       
    }
}

.validator div ul li{
    color:red;
}